html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Google Fonts */
/* font-family: 'Oxygen', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

Instructions 

* background color of site  and h1 is  #FBFFFB
* Use scalable units for sizing of containers, fonts, margin, padding where possible (%, em, rem, vh, vw, etc.) avoid the use of px 
* Title font: Oxygen
* Paragraph font: Source Sans Pro 
* (note that the fonts in the design file are not the same as the google fonts)
* navigation should be fixed to the top of the page when the user scrolls and the opicity should be 0.9
* accent color (titles, links) is #266035
* "shop our indoor plant sale" button should switch background color and text color on hover
* must use flexbox for layout */
/* General Rules */

*{
        box-sizing: border-box;
        padding:0;
        margin:0;
        max-width:100%;
        borger: 1px solid grey
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color:#FBFFFB;
    line-height:1.5;
    color:#4f4f4f;
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    font-family: 'Source Sans Pro', sans-serif;
    color:#266035;
    text-decoration: none;
}
h1, h2, h3{
    font-family: 'Oxygen', sans-serif;
    color:#266035;
}
h1{
    color:#FBFFFB;
    font-size:5rem;
}
h2{
    font-size:3.5rem;
}
h3{
    font-size:2.5rem;
}
section{
    padding: 4% 0;
}

/* Header */
button{
    padding: 2% 4%;
    margin-top: 5%;
    color:#fff;
    background-color:#266035 ;
    border: #266035 2px solid;
    font-size: 1.6rem;
    transition: 2s;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, .8);
}

.logo{
    width: 6%;
}
.links{

}

/* Top Sections */

#top{
    height: 95vh;
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    justify-content: center;
    align-items: center;
    text-align: center;
    display:flex;
}

#top button{
    color: #fff;
    background-color: #266035;
}

#top button:hover{
    color: #266035;
    background-color:#fff;
    border: #266035 1px solid;
}

/* About Section */

#about{
    height: 75vh;
    display:flex;
    background-image: url('../images/about-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

